<?xml version="1.0"?>
<!DOCTYPE concept PUBLIC "-//OASIS//DTD DITA Concept//EN" "concept.dtd">
<concept id="concept_8E1E7662045243B2ABA139D7A2AF04B3"> 
  <title>Reports &amp; Analytics Navigation Enhancements</title> 
  <shortdesc> Introduces improvements to the Adobe Analytics menu navigation.
  </shortdesc> 
  <conbody> 
	 <section id="section_A6A0A369207149BABE504753B48A42D7">
		<title>Navigation Overview</title>
		<table id="table_3BA295966BBC4C94ABDC3718D1894698">
		  <tgroup cols="2"><colspec colnum="1" colname="col1"
			 colwidth="1.00*"/><colspec colnum="2" colname="col2" colwidth="3.96*"/><thead>
				<row>
				  <entry colname="col1">Menu Item
				  </entry>
				  <entry colname="col2">Description
				  </entry>
				</row></thead>
			 <tbody>
				<row>
				  <entry colname="col1">Toggle Rail 
					 <image placement="inline"
					  href="../../beta/graphics/toggle_rail.png" width="30px"
					  id="image_B75D0F6991F74389A77068D999C9A910"></image>
				  </entry>
				  <entry colname="col2">Clicking this icon expands the navigation
					 to allow you to change tools in Adobe Analytics, access the Admin Console, or
					 manage your segments, bookmarks, or dashboards.
				  </entry>
				</row>
				<row>
				  <entry colname="col1"><uicontrol>View All Reports</uicontrol>
				  </entry>
				  <entry colname="col2">All of your report-suite-specific reports,
					 dashboards, bookmarks, calculated metrics, and targets are contained in the 
					 <uicontrol>View All Reports 
					 </uicontrol>sections. Click here at any time to navigate
					 through everything that is available to you.
				  </entry>
				</row>
				<row>
				  <entry colname="col1">Search Bar within 
					 <uicontrol>View All Reports</uicontrol>
				  </entry>
				  <entry colname="col2">
					 <p> Lets you search for the resource you need. It uses
						so-called "fuzzy" search, so you don't need to enter the exact wording you are
						looking for. The search results are displayed in a straight list that you can
						navigate using up, down, and side arrows. Pressing 
						<uicontrol>Enter</uicontrol> on a search result takes you
						directly to that report.
					 </p>
				  </entry>
				</row>
				<row>
				  <entry colname="col1"><uicontrol>My Reports</uicontrol>
				  </entry>
				  <entry colname="col2">You can open or close Analytics navigation
					 at any time by clicking 
					 <uicontrol>My Reports</uicontrol>. By default, the navigation
					 is open.
				  </entry>
				</row>
				<row>
				  <entry colname="col1"><uicontrol>Show Segments</uicontrol>
				  </entry>
				  <entry colname="col2">Brings up the segment rail that lets you
					 apply segments to reports. You can also access the 
					 <xref
					 href="http://marketing.adobe.com/resources/help/en_US/analytics/segment/seg_build_ui.html"
					 format="http" scope="external">Segment Builder</xref> and 
					 <xref
					 href="http://marketing.adobe.com/resources/help/en_US/analytics/segment/seg_manage.html"
					 format="http" scope="external">Segment Manager</xref> interfaces from the
					 segment rail.
				  </entry>
				</row>
				<row>
				  <entry colname="col1"><uicontrol>Favorited</uicontrol>
				  </entry>
				  <entry colname="col2">Adobe Analytics lets you to mark reports as
					 favorites that then appear under 
					 <uicontrol>My Favorites</uicontrol>.
				  </entry>
				</row>
				<row>
				  <entry colname="col1"><uicontrol>Download</uicontrol>
				  </entry>
				  <entry colname="col2">Lets you download the report in PDF, CSV,
					 Excel, and Word formats. (<xref
					 href="http://marketing.adobe.com/resources/help/en_US/survey/index.html#Downloading_a_Report_Using_Advanced_Options"
					 format="http" scope="external">Advanced Download Options</xref>.)
				  </entry>
				</row>
				<row>
				  <entry colname="col1"><uicontrol>Send</uicontrol>
				  </entry>
				  <entry colname="col2">Lets you email the report immediately or
					 schedule the email on a one-time or recurring basis. Format options include
					 PDF, CSV, Excel, HTML, Word, or Mobile (text only). (<xref
					 href="http://marketing.adobe.com/resources/help/en_US/survey/index.html#Emailing_a_Report_Using_Advanced_Options"
					 format="http" scope="external">Advanced Delivery Options</xref>.)
				  </entry>
				</row>
				<row>
				  <entry colname="col1"><uicontrol>More...</uicontrol>
				  </entry>
				  <entry colname="col2">Lets you perform the following actions:
					 bookmark the report, add it to a dashboard, print it, add an alert to it,
					 create a custom report, copy a graph, link to this report, and open a new
					 window.
				  </entry>
				</row>
				<row>
				  <entry colname="col1"><uicontrol>My Favorites 
					 </uicontrol>
				  </entry>
				  <entry colname="col2">You can easily retrieve the reports you
					 marked as 
					 <uicontrol>Favorited</uicontrol> from this area. On a per-user
					 and per-report-suite basis, it shows ten Favorites and a 
					 <uicontrol>More...</uicontrol> link if you have more than ten
					 favorites.
					 <p>Note that you can rename reports but not dashboards in My
						Favorites.
					 </p>
				  </entry>
				</row>
				<row>
				  <entry colname="col1"><uicontrol>Frequently Viewed</uicontrol>
				  </entry>
				  <entry colname="col2">Adobe Analytics keeps track of the ten
					 reports you have run most often during the last 90 days and shows them here,
					 sorted by how frequently you run them. If you have not been in this report
					 suite for more than 90 days, it populates the list with a general list of ten
					 popular reports.
				  </entry>
				</row>
				<row>
				  <entry colname="col1"> 
					 <uicontrol>Report History</uicontrol>
				  </entry>
				  <entry colname="col2">Here, you find the most recent ten reports
					 or dashboards that you have accessed in the last 90 days. You can easily find
					 your way back to a previous step in your analysis or reporting. 
				  </entry>
				</row>
			 </tbody>
		  </tgroup>
		</table> 
	 </section>
	 <section id="section_4487DD3ECF9943558D439F7F8AF08E0D">
		<title>What happened to my existing menu customizations?</title>
		<p>All your menu customizations are still available when you click 
		  <uicontrol>View All Reports</uicontrol>.
		</p>
	 </section>
	 <section id="section_06B73F979D494CBDB6B2534A0DFDF81A">
		<title>What happened to the Simplified Menu that I had
		  implemented?</title>
		<p>Like customizations, the simplified menu is still available when you
		  click 
		  <uicontrol>View All Reports</uicontrol>.
		</p>
	 </section>
	 <section id="section_1E8E9D55483E4DA08CC3696A4F89C9D3">
		<title>If I don't like using this menu, can I go back to the sliding menu
		  you introduced in May of 2014?</title>
		<p>No, this menu is no longer available.
		</p>
	 </section>
	 <section id="section_499A703F4E7C494E85F25BA7EDBD1185">
		<title>Are there any keyboard shortcuts?</title>
		<ul id="ul_1DBB96D63C994D5BBC0B51A9906750B8">
		  <li id="li_2F7C2BD7FF4D4EF08060C03B325BA3D9">The forward slash (/)
			 automatically opens 
			 <uicontrol>View All Reports</uicontrol> and puts the cursor in the
			 search bar.
		  </li>
		  <li
			id="li_5C4DA74D538349418907AA2E2E6E429B"><uicontrol>&lt;Esc&gt;</uicontrol>
			 clears the search field or, if there is existing search content, closes the
			 search.
		  </li>
		</ul>
	 </section>
	 <section id="section_5A1AFCEA6F7C40B3B9D6C01E15685A13">
		<title>What other menu changes do I need to be aware of?</title>
		<p>The following changes were made to the Adobe Marketing Cloud left
		  navigation:
		</p>
		<ul id="ul_5A9AF27D543B40A7A8BE699F32AFB2F0">
		  <li id="li_BEE07B7724AD446F96AC6127DC2E932C">The search navigation has
			 been eliminated.
		  </li>
		  <li id="li_B10A39B12A0348689DD079DB5CEBF3E8">Under 
			 <uicontrol>Analytics</uicontrol> &gt; 
			 <uicontrol>Reports &amp; Analytics</uicontrol>, all reports are now
			 under the 
			 <uicontrol>View All Reports</uicontrol> menu (see above).
		  </li>
		  <li id="li_C904BC749BBE4C9A9A4B96D348F184C3">Under 
			 <uicontrol>Analytics</uicontrol> &gt; 
			 <uicontrol>Reports &amp; Analytics</uicontrol>, the 
			 <uicontrol>Favorites</uicontrol> menu has been eliminated.
		  </li>
		  <li id="li_CBC3F0ADAC7B41969EFC1FDEFC5F42A3">Most items formerly under
			 Favorites are now under the 
			 <uicontrol>Analytics</uicontrol> &gt; 
			 <uicontrol>Components</uicontrol> menu: Segment Manager, Alerts,
			 Calendar Events, Scheduled Reports, Archived Reports, Report Settings.
		  </li>
		</ul>
		<table id="table_708BA441B1AC4B06AC36AA4A5F9F5337">
		  <tgroup cols="2"><colspec colnum="1" colname="col1"
			 colwidth="*"/><colspec colnum="2" colname="col2" colwidth="*"/><thead>
				<row>
				  <entry colname="col1">Before
				  </entry>
				  <entry colname="col2">After
				  </entry>
				</row></thead>
			 <tbody>
				<row>
				  <entry colname="col1">
				  </entry>
				  <entry colname="col2">
				  </entry>
				</row>
				<row>
				  <entry colname="col1">
				  </entry>
				  <entry colname="col2">
				  </entry>
				</row>
				<row>
				  <entry colname="col1">Favorites:
					 <p><?xm-replace_text Paragraph?>
					 </p>
				  </entry>
				  <entry colname="col2">
				  </entry>
				</row>
			 </tbody>
		  </tgroup>
		</table>
	 </section>
  </conbody> 
</concept> 
