<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE concept PUBLIC "-//OASIS//DTD DITA Concept//EN" "concept.dtd">
<concept id="concept_6B4C72EE8FAF455CB0C0B94EEE659FB5"> 
  <title>Account Settings</title> 
  <shortdesc>The 
	 <wintitle>Account Settings</wintitle> panel lets you configure account
	 details, user preferences, email alerts, and upload a user image.
  </shortdesc> 
  <prolog> 
	 <metadata> 
		<othermeta name="solution" content="Marketing Cloud"/> </metadata>
  </prolog> 
  <conbody> 
	 <p>Click 
		<image href="graphics/accounts_icon.png"
		 id="image_7523C0D09277402EAA257DD1E320909B"></image> &gt; 
		<image href="graphics/icon_edit_board.png"
		 id="image_832248762A38413A9FA86AB2DC55391D"></image>.
	 </p> 
  </conbody> 
</concept> 
